<p>book-list works!</p>
<div class="container">
  <table border="1px">
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let book of books" >
      <td >{{book.id}}</td>
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.description}}</td>
      <td><a href="" class="btn btn-outline-primary" routerLink="book-edit/:{{book.id}}">Edit</a></td>
      <td><a href="" class="btn btn-outline-primary" (click)="deleteBook(book.id)">Delete</a></td>
    </tr>
  </table>
</div>

