<!--<div class="container-fluid">-->
<!--  <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <div class="container-fluid">-->
<!--      &lt;!&ndash;      logo&ndash;&gt;-->
<!--      <a class="navbar-brand" href="#"><img src="" alt="" style="width: 100px; height: 80px"></a>-->
<!--      &lt;!&ndash;      nav-item&ndash;&gt;-->
<!--      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
<!--      <div class="collapse navbar-collapse" id="navbarNav">-->
<!--        <ul class="navbar-nav">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="" routerLink="/login">Login</a>-->
<!--          </li>-->
<!--          &lt;!&ndash;          <li class="nav-item">&ndash;&gt;-->
<!--          &lt;!&ndash;            <a class="nav-link" href="#">Features</a>&ndash;&gt;-->
<!--          &lt;!&ndash;          </li>&ndash;&gt;-->
<!--          &lt;!&ndash;          <li class="nav-item">&ndash;&gt;-->
<!--          &lt;!&ndash;            <a class="nav-link" href="#">Pricing</a>&ndash;&gt;-->
<!--          &lt;!&ndash;          </li>&ndash;&gt;-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->
<!--</div>-->

<router-outlet></router-outlet>
<app-todo></app-todo>
